@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 4 - Ferris Family
   
   Design Style Sheet for Tree and Book Family Home Page
   Author: Tai Sewell
   Date: 9/24/25
   
   Filename: tb_visual3.css

*/

/* HTML Styles */
html {
   background-image: url(../images/tb_back5.png);
   background-repeat: repeat;
}


/* Page Body Styles */
body {
   border-left: 3px solid rgb(169, 130, 88);
   border-right: 3px solid rgb(169, 130, 88);

   box-shadow: 
      25px 0px 35px rgb(53, 21, 0),   /* right border shadow */
      -25px 0px 35px rgb(53, 21, 0);   /* left border shadow */
}

/* Main Styles */
main {
   background-image: url(../images/tb_back7.png);
   background-size: 100%;
   background-repeat: no-repeat;
   box-shadow: 0px 0px 25px rgb(71, 71, 71),
               -10px -10px 0px rgb(71, 71, 71),
               10px 10px 0px rgb(71, 71, 71),
}

h1 {
   text-shadow: 1px 1px rgb(221, 221, 221),
                5px 5px 20px rgba(41, 41, 41, 0.9);
}

/* Figure Box Styles */
figure.portrait {
   margin: 10px auto;
   width: 70%;
}
figure.portrait img {
   border: 25px solid transparent;
   border-image: url("../images/tb_frame.png") 60 stretch;
   display: block;
   width: 100%;
   -webkit-filter: sepia(80%);
   filter: sepia(80%);
}

figure.portrait figcaption {
   font-family: 'Palatino Linotype', 'Palatino', 'Times New Roman', 'serif';
   font-style: italic;
   padding: 10px 0px;
   text-align: center;
}

/* Article Styles */
article {
   background-image: url(../images/tb_back6.png);
   background-position: bottom right;
   background-size: 15%;
   background-repeat: no-repeat;
   /* Right and bottom double border */
   border-right: 8px double rgb(147, 116, 68);
   border-bottom: 8px double rgb(147, 116, 68);

   /* Curved bottom-right corner */
   border-bottom-right-radius: 80px;

   /* Inner shadow (inset) */
   box-shadow: inset -10px -10px 25px rgba(184, 154, 112, 0.7);
}

/* Footer Styles */
footer {
    background: linear-gradient(
    325deg, 
    rgb(180, 148, 104) 20%, 
    rgb(40, 33, 23) 60%
   );
}
