@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 4 - Ferris Family
   
   Individuals Design Style Sheet at Tree and Book
   Author: Tai Sewell
   Date: 9/24/25 
   
   Filename: tb_visual4.css

*/


/* Transformation Styles */
article {
   perspective: 800px;
}

#figure1 {
   transform: translateZ(-120px);
}

#figure2 {
   transform: translateY(-20px) rotateY(50deg);
}

#figure3 {
   transform: translateY(-30px) rotateY(-50deg);
}


/* Filter Styles */
#figure1 {
   -webkit-filter: saturate(1.3);
   filter: saturate(1.3);
}
#figure2 {
   -webkit-filter: brightness(0.8) contrast(1.5);
   filter: brightness(0.8) contrast(1.5);
}
#figure3 {
   -webkit-filter: hue-rotate(170deg) saturate(3) brightness(1.5);
   filter: hue-rotate(170deg) saturate(3) brightness(1.5);
}

