@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 5 Review Assignment
   
   Author:   Tai Sewell
   Date:     10/08/25
   
   Filename: tf_print2.css

   This file contains the printer styles used with the Trusted
   Friends Parents Tips page

*/


@media print {
   /* Hidden Objects */
   nav.horizontal ul,
   body > header h1,
   #left,
   body > footer {
      display: none;
   }

   /* Page Box Styles */
   @page {
      size: 8.5in 13in;
      margin: 0.5in;
   }


   /* Header Styles */
   header img {
      display: block;
      width: 100%;
   }


   /* Typography Styles */
   article header {
      margin-bottom: 0.2in;
   }
   /* h1 headings within article */
   article h1 {
      font-size: 24pt;
      line-height: 26pt;
   }

   /* Aside element styling */
   aside {
      background-color: rgb(211, 211, 211);
      margin-top: 0.3in;
      justify-content: flex-start;
   }

   /* h1 headings within aside */
   aside h1 {
      font-size: 18pt;
      line-height: 20pt;
   }

   /* Images within aside */
   aside img {
      width: 0.8in;
   }

   /* Paragraphs */
   p {
      font-size: 12pt;
      margin-top: 0.1in;
      margin-bottom: 0.1in;
   }

   /* Hypertext Styles */
   a {
      color: black;
      text-decoration: none;
   }
   a::after {
      content: "(" attr(href) ")";
      font-weight: bold;
      word-wrap: break-word;
   }

   /* Page Break Styles */
   aside {
      page-break-after: always;
   }

   /* Prevent page breaks within lists or images */
   ol, ul, img {
      page-break-inside: avoid;
   }

   /* Control widows and orphans in paragraphs */
   p {
      orphans: 3;
      widows: 3;
   }


}
