@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 6 DLR Morning Schedule

   Tables Style Sheet
   Author: Tai Sewell
   Date:  10/13/2025 

   Filename:         dlr_tables2.css

*/

/* Table Styles */
table.Programs {
   width: 100%;
   border: 15px rgb(151, 151, 151);
   border-collapse: collapse;
   font-family: Arial, Verdana, sans-serif;
}

table.Programs tr {
   height: 25px;
}

table.Programs th,
table.Programs td {
   border: 1px solid gray;
   vertical-align: top;
   padding: 5px;
}


/* Table Caption Styles */
table.Programs caption {
   caption-side: bottom;
}


/* Table Column Styles */
col.timeColumn {
   column-width: 10%;
   background-color: rgb(215, 205, 151);
}
col.wDayColumns {
   column-width: 11%;
   background-color: rgb(236, 255, 211);
}
col.wEndColumns {
   column-width: 17%;
   background-color: rgb(255, 231, 255);
}


/* Table Header Styles */
thead {
   color: white;
   background-color: rgb(105, 177, 60);
}

thead th:first-of-type {
   background: rgb(153, 86, 7);
}

thead th:nth-of-type(7),
thead th:nth-of-type(8) {
   background: rgb(153, 0, 153);
}


/* Table Footer Styles */
tfoot {
   color: white;
   background-color: black;
}






