@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and Javascript
   Lab 6 DLR Morning Schedule


   Columns Style Sheet
   Author: Tai Sewell
   Date: 10/13/25   

   Filename:         dlr_columns2.css

*/



/* Column Styles */
@media screen and (min-width: 641px) {
   #container p {
      -webkit-column-count: 3; /* Older Versions */
      column-count: 3;
      -webkit-column-gap: 20px; /* Older Versions */
      column-gap: 20;
      -webkit-column-rule: 1px solid black; /* Older Versions */
      column-rule: 1px solid black;
   }
   
}

